:root {
  --collection-1-fundo: rgba(247, 246, 242, 1);
  --collection-1-letras: rgba(41, 41, 41, 1);
  --collection-1-botoes: rgba(222, 163, 103, 1);
  --collection-1-cores-laternativas: rgba(254, 240, 218, 1);
  --collection-1-cores-laternativas-2: rgba(251, 218, 182, 1);
  --collection-1-cores-laternativas-3: rgba(226, 178, 131, 1);
  --collection-1-cores-laternativas-4: rgba(228, 158, 109, 1);
}
